# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
# 記得先 Import 正確的套件

'''
Your Code
'''
import numpy as np
import pandas as pd

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [3]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high      2
1  banana  medium     10
2  orange     low      2
3   apple    high     12
4  banana  medium      8
5  orange     low      6
6   apple    high      5
7  banana  medium      5
8  orange     low     13
    fruit weight  price
0   apple   high     14
1  orange    low     13
2    pine   high     12
3   apple    low     10
4  orange   high     11
5    pine    low      9

In [6]:
# - 依照 fruit 欄位做合併

'''
Your Code
'''
dfmerge = pd.merge(df1, df2, on='fruit')
dfmerge

     fruit weight_x  price_x weight_y  price_y
0    apple     high        2     high       14
1    apple     high        2      low       10
2    apple     high       12     high       14
3    apple     high       12      low       10
4    apple     high        5     high       14
5    apple     high        5      low       10
6   orange      low        2      low       13
7   orange      low        2     high       11
8   orange      low        6      low       13
9   orange      low        6     high       11
10  orange      low       13      low       13
11  orange      low       13     high       11

In [11]:
# - 依照 index 索引做合併

'''
Your Code
'''
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [ ]:
'''
Your Code
兩個dataframe都有存在的資料才會被合併
'''

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [ ]:
'''
Your Code
兩者dataframe有相同Column無法合併
'''

In [15]:
df1.join(df2, lsuffix='_df1', rsuffix='_df2')

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          2     apple       high       14.0
1    banana     medium         10    orange        low       13.0
2    orange        low          2      pine       high       12.0
3     apple       high         12     apple        low       10.0
4    banana     medium          8    orange       high       11.0
5    orange        low          6      pine        low        9.0
6     apple       high          5       NaN        NaN        NaN
7    banana     medium          5       NaN        NaN        NaN
8    orange        low         13       NaN        NaN        NaN